.gallery {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(9.75rem, 1fr));
	grid-template-rows: repeat(3, auto 0.1875rem auto);
}

@media screen and (min-width: 768px) {
	.gallery {
		grid-template-columns: repeat(auto-fill, minmax(14.6669rem, 1fr));
		grid-template-rows: repeat(3, auto 2.1456rem);
	}
}

@media screen and (min-width: 1366px) {
	.gallery {
		grid-template-columns: repeat(auto-fill, minmax(26.125rem, 1fr));
		grid-template-rows: repeat(3, auto 3.25rem);
	}
}
